@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss";

* {
  font-family: '"Playwrite HU"', cursive;
  margin:0;
  padding:0;
}

button{
  
  cursor: pointer;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes slow-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-slow-rotate {
  animation: slow-rotate 60s linear infinite;
}