@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss";

body {
  font-family: '"Playwrite HU"', cursive;
}

button{
  
  cursor: pointer;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}
